################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RummyRoulette/v17
/.vs/Spinner_Game/FileContentIndex
/.vs/Spinner_Game/v17
/WheelGame/bin/Debug/net6.0
/WheelGame/obj/Debug/net6.0
/WheelGame/obj
/.vs/RummyRoulette/FileContentIndex
/Rummy_Roulette/bin/Debug/net8.0
/Rummy_Roulette/obj
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
